{% extends "index.html" %}



    {% block body %}

      <header>
          <h1 onclick=document.location.href='/'>Un jeu cool</h1>
          <h2>{{session.article}}</h2>
          <h3>  Score : {{score}}</h3>
      </header>

        <form action="/move" method="post">

            {% for item in items %}
                {% if loop.first %}
                  <input type="radio" name="new_page" id="{{item}}" value="{{item}}" checked>
                {% else %}
                  <input type="radio" name="new_page" id="{{item}}" value="{{item}}">
                {% endif %}
                <label for="{{item}}">{{item}}</label>  <br>
            {% endfor %}
                <input type="hidden" name="score" value="{{score}}">



            <input type="submit" value="Jouer !">
        </form>



      {% if session.test_cache %}
          <h4> Mot déjà vu dans le cache </h4>
      {% else %}
          <h4> mot stocké </h4>
      {% endif %}

    {% endblock %}
