<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Tous les chemins mènent à la philosophie</title>
  </head>

  <body>

    {% block body %}

    {% with messages = get_flashed_messages(with_categories=True) %}
     {% if messages %}

       <ul class=flashes>
          {% for category, message in messages %}
             <h4 class="{{category}}"> {{ message }} </h4>
          {% endfor %}

          Score : {{session.score}}
       </ul>
     {% endif %}
    {% endwith %}

    <header>
        <h1>Un jeu cool</h1>
    </header>
      {# Début du bloc "body", dont vous devez modifier le contenu #}

      <form action="/new-game" method="post">
          <input type="text" id="nom_page" name="nom_page" placeholder="où commencer"><br>
          <input type="submit" value="Jouer !">
      </form>


      {# Fin du bloc "body" #}

    {% endblock %}


  </body>
</html>
